<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:int="http://www.springframework.org/schema/integration"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:int-file="http://www.springframework.org/schema/integration/file"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/integration
           http://www.springframework.org/schema/integration/spring-integration-5.1.xsd
           http://www.springframework.org/schema/integration/file
           http://www.springframework.org/schema/integration/file/spring-integration-file-5.1.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="test"/>

    <int-file:inbound-channel-adapter
            channel="CsvInputChannel"
            directory="./dataIn"
            filename-pattern="*.csv">
        <int:poller id="poller" fixed-delay="1000"/>
    </int-file:inbound-channel-adapter>

    <int-file:splitter id="splitter" apply-sequence="false" charset="UTF-8" first-line-as-header="true"
                       input-channel="CsvInputChannel" output-channel="SplitterChannel" auto-startup="true"/>

    <int:channel id="SplitterChannel"/>

    <int:header-value-router id="myRouter" input-channel="SplitterChannel" header-name="file_name" resolution-required="false">
        <int:mapping value="songs.csv" channel="SongChannel"/>
        <int:mapping value="singers.csv" channel="SingerChannel"/>
    </int:header-value-router>

    <int:transformer input-channel="SongChannel" output-channel="OutputChannel" ref="csvToObject" method="Song"/>
    <int:transformer input-channel="SingerChannel" output-channel="OutputChannel" ref="csvToObject" method="Singer" />

    <int:object-to-json-transformer input-channel="OutputChannel" output-channel="JsonChannel"/>

    
    <int:channel id="JsonChannel"/>


    <int-file:outbound-channel-adapter id="JsonActors" channel="JsonChannel" filename-generator="filename" directory="./dataOut"/>

</beans>